av==9.2.0
decord==0.6.0
einops==0.4.1
imgaug==0.4.0
joblib==1.2.0
librosa==0.9.2
lmdb==1.3.0
loguru==0.6.0
lws==1.2.7
matplotlib==3.6.2
mmcls==0.24.1
mmcv==1.6.1
mmdet==2.25.3
mmpose==0.29.0
model_archiver==1.0.3
moviepy==1.0.3
nltk==3.7
numpy==1.23.1
onnx==1.12.0
onnxruntime==1.13.1
opencv_python==4.6.0.66
packaging==21.3
pandas==1.5.1
pims==0.6.1
pytest==7.2.0
pytorch_lightning==1.7.7
pytorch_sphinx_theme==0.0.19
pytorchvideo==0.1.5
scikit_learn==1.1.3
scipy==1.9.1
seaborn==0.12.1
setuptools==63.4.1
six==1.16.0
tensorrt==8.5.1.7
timm==0.6.7
titlecase==2.4
torch==1.12.1
torchmetrics==0.9.3
torchvision==0.13.1
tqdm==4.64.1
transformers==4.22.2
ts==0.5.1
webcolors==1.12
